image: Visual Studio 2015

environment:
  matrix:
  - JOB_NAME: test
    JOB_DESC: "the one that should run every time"

  - JOB_NAME: release
    JOB_DESC: "the one that should run on the release branch"

  - JOB_NAME: nightly
    JOB_DESC: "the one that should run on the nightly tag"

  - JOB_NAME: extra
    JOB_DESC: "the one that should only run by request"

for:
-
  branches:
    only:
      - /^release.*/
  matrix:
    only:
      - JOB_NAME: release

-
  branches:
    only:
      - nightly
  matrix:
    only:
      - JOB_NAME: nightly

-
  branches:
    only:
      - master
      - /^feat.*/
  skip_commits:
    message: /\[full ci\]/
  matrix:
    only:
      - JOB_NAME: test

-
  branches:
    only:
      - master
      - /^feat.*/
  include_commits:
    message: /\[full ci\]/
  matrix:
    only:
      - JOB_NAME: test
      - JOB_NAME: extra


branches:
  only:
    - master
    - /^release.*/
    - /^feat.*/
    - nightly

build_script:
- ps: Write-Host "Running $env:JOB_NAME job ($env:JOB_DESC)."